.carousel{
    position: relative;
    width: 100%;
    max-width: 1100px;
    margin: 40px auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-track{
    display: flex;
    transition: transform 0.6s ease;
}

.slide{
    min-width: 100%;
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
    font-size: 2rem;
}

.slide img{
    width: 100%;
    display: block;
    object-fit: cover;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  color: #707070;
  border-radius: 14px;
  cursor: pointer;
  box-shadow: none;
  backdrop-filter: none;
  font-weight: 100;
}

.carousel-btn.prev { left: 7px; }
.carousel-btn.next { right: 7px; }

.material-symbols-rounded {
  font-variation-settings: 'FILL' 1, 'wght' 500, 'GRAD' 0, 'opsz' 32;
  font-size: 28px;
  line-height: 1;
}

