@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

h1, h2, h3, p{
    font-family: 'Poppins', sans-serif;
}

body, html{
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    margin: 0;
    background-color: black;
}

.hero {
    position: relative;  
    width: 100%;
    height: 60vh;
    overflow: hidden;
    border: 0;  

}

.hero-video {
    position: absolute;
    inset: 0;
    z-index: 0;
    overflow: hidden;
    border: 0;  
}

.hero-content {
    position: relative;
    z-index: 1;
    border: 1px solid red;
    display: flex;
    justify-content: center;  
    align-items: center;
}

.hero-video iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 190%;
    height: 190%;
    min-width: 120%;
    min-height: 120%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border: 0;
}

.linkTCImage{    
    width: 60px;
    height: 50px;
}

.top-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    margin: 2em 3em 4em 3em;
}

.logo-hero{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.logo-hero img{
    width: 31em;
    height: 20em;
}

.socialMedias{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    position: relative;
    z-index: 1;
    background: transparent;
}

.socialMedias img{
    width: 26px;
    height: 26px;
    display: block;
    object-fit: contain;
    filter: brightness(0) invert(1);
}
