@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

h1, h2, h3, p{
  font-family: 'Poppins', sans-serif;
}


body, html{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: black;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
}

.hero {
  position: relative;  
  min-height: 40vh;
  border: 1px solid red;
  width: 100vw;
  height: 50vh;
}

.hero-video {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.hero-content {
  position: relative;
  z-index: 1;        
}

iframe{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw; 
  height: 50vw;
  max-height: 50vw;       
  transform: translate(-50%, -50%);
  object-fit: cover;
  pointer-events: none;
  /* border: 1px solid red; */
  margin-bottom: 50em;
}

.linkTCImage{
    
    width: 60px;
    height: 50px;
}

.top-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid red;
    position: relative;
    z-index: 1;
    margin: 2em 2em 4em 2em;
}

.logo-hero{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    border: 1px solid red;
}

.about-game{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    color: white;
    width: 100vw; 
    height: 50vw;
    border: 1px solid rgb(89, 0, 255);
}

.about-game h1, h2{
    font-weight: 400;
    border: 1px solid red;
}

.about-game h2{
  padding: 0;
  margin: 0;
}

.about-game p{
    font-weight:200;
    font-size: 13px;

}

.about-game img{
    /* width: 40%; */
}

.about1 img{
    width: 40vw;
    height: 13vh;
}

.about1{
  padding: 0 0 0 0;
  height: 50vh;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4em;
  border: 1px solid red;
}

.text-about1 {
  flex: 1; 
  max-width: 400px;
}

.text-about1 p {
  font-size: 1rem;
  line-height: 1.6;
}
