@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

h1, h2, h3, p{
  font-family: 'Poppins', sans-serif;
}

body, html{
    width: 100%;
    min-height: 100%;
    margin: 0;
    background-color: black;
}

.hero {
  position: relative;  
  width: 100%;
  height: 60vh;
  overflow: hidden;
  border: 0;  

}

.hero-video {
  position: absolute;
  inset: 0;
  z-index: 0;
  overflow: hidden;
  border: 0;  
}

.hero-content {
  position: relative;
  z-index: 1;
  border: 1px solid red;
  display: flex;
  justify-content: center;  
  align-items: center;
}

.hero-video iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 190%;
  height: 190%;
  min-width: 120%;
  min-height: 120%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border: 0;
}

.linkTCImage{    
    width: 60px;
    height: 50px;
}

.top-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    margin: 2em 3em 4em 3em;
    /* border: 1px solid red; */
}

.logo-hero{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    /* border: 1px solid red; */
}
.logo-hero img{
  width: 31em;
  height: 20em;
}

.about-game{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    padding: 3rem 1rem;
    color: white;
    width: 100%; 
    height: 100%;
    gap: 4em;
    /* max-width: 1200px; */
    margin: 0 auto 2rem;
    border: 1px solid rgba(247, 247, 247, 0.315);
}

.about-title{
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
  width: 100%;
  font-size: 100%;
}

.about-game h1{
    font-weight: 600;
}

.about-game h2{
  padding: 0;
  margin: 0;
  font-weight: 600;
}

.about{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15rem;
  border: 0;
  /* border: 1px solid rgba(247, 247, 247, 0.315); */
}

.text-about {
  flex: 1; 
  min-width: 260px;
  max-width: 520px;
  /* border: 1px solid rgba(247, 247, 247, 0.315); */
}

.text-about p {
  font-size: 0.8rem;
  line-height: 1.6;
}

.ytVideo{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  width: 100vw;
  height: 50vh;
}

.video-wrapper{
  width: 50%;
  height: 100%;
}

.promoVideo{
  width: 100%;
  height: 100%;
}

@media (max-width: 900px) {
  .about img{
  } 

  .about {
    flex-direction: column;
    text-align: center;
    gap: 2em;
  }

  .reverse{
    flex-direction: column-reverse;
  }

  .about img {
    /* max-width: 36em; */
    width: 100%;
  }

  .text-about {
    max-width: 640px;
  }
}
