.teamCherry-container{
    width:100%;
    background-color: #e93146;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.teamCherry{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.1em;
}

.teamCherry button{
    width: 18em;
    color: #e93146;
    background-color: white;
    padding: 20px;
    font-size: 15px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.2s ease;
}

.teamCherry button:hover{
    opacity: 0.8;
}

.teamCherry p{
    text-align: center;
    color: white;
    font-weight: 100;
}

.members{
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    justify-content: center;

}

.member{
    width: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.member p{
    font-size: 12px;
}

.social-container{
    width: 25%;
}

.social{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.social img{
    color: #e93146;
    width: 20px;
    height: 20px;
    padding: 5px;
    background-color: white;
    border-radius: 100%;
    transition: opacity 0.2s ease;
    opacity: 1;
}

.social img:hover{
    opacity: 0.6;
}

@media (max-width: 900px) {
    .members{
        flex-wrap: wrap;
    }
}